/* Smaller screens and tablets */
@media only screen and (max-width: 1200px) {
  .image-tiles {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }

  .selected-image {
    position: relative;
    margin: auto;
  }

  .image-selection {
    margin: auto;
  }
}

/* Small screens mobile */
@media only screen and (max-width: 800px) {
  .tiles-display {
    grid-template-columns: 1fr;
  }
}

.tiles-display {
  height: 408px;
}
