.button {
  background-color: beige;
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  opacity: 0.8;
}

.image-button {
  margin: auto;
}

.image-position {
  display: flex;
  justify-content: center;
  align-items: center;
}
